<main>
  <div class="container">
    <div class="title">FagBank</div>
    <div *ngIf="showSaldo" class="result" id="valor">
      {{saldo}}
    </div>
    <div class="ipt">
      <input [(ngModel)]="valor" type="number" name="valor" placeholder="R$">
    </div>
    <div>
      <button (click)="consultarSaldo()" type="button" value="consultarSaldo">Consultar saldo</button>
    </div>
    <div>
      <button (click)="realizarSaque()" type="button" value="realizarSaque">Saque</button>
    </div>
    <div>
      <button (click)="realizarDeposito()" type="button" value="realizarDeposito">Depósito</button>
    </div>
    <!-- <div>
      <button type="button" value="Sair">Sair</button>
    </div> -->
  </div>
</main>